/**

**/

.message-wrapper {
    margin: 0;
    margin-top: 20%;
}
h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    color: #d8d8d8;
}

p.welcome-msg {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #666666;
    text-transform: uppercase;
}